<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />

    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <title>Title</title>
</head>

<body>
<h3>Service Visualization</h3>
<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<div class="list-group">
<div  ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
    <a href="#" class="list-group-item">Service {{i}}</a>
</div>

</div>
</body>
</html>