
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





    <md-content style=" background-color: rgb(84, 190, 171)">
        <div layout="row" flex="100">

            <div flex="60">
                <div ui-view="serviceElements"></div>


            </div>
            <div flex="40">
                <div ui-view="mapElements"></div>
            </div>
        </div>
</md-content>





<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Vl-B8jI0thVnkTPO_Bi5NvEGymvf4YE&callback=initMap" async defer></script>
-->
