/**
 * STYLE FOR HTML AND LAYOUT PAGE
 *****************************************/
@font-face {
	font-family: Calibri;
	src: url(/assets/fonts/Calibri.ttf);
}

html {
	position: relative;
	min-height: 100%;
}
body {
	/*padding-left: 11em;*/
	padding: 0em;
	/*font-family: Georgia, "Times New Roman",*/
	/*Times, serif;*/
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
	font-variant: normal;
	height: 100%;
	margin: 0em;
/*color: purple;*/
}

p {
    margin: 0;
}
ul.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 2em;
	left: 1em;
width: 9em 
}
/*
	h1 {
		font-family: Helvetica, Geneva, Arial,
	SunSans-Regular, sans-serif }
	ul.navbar li {
		background: white;
		margin: 0.5em 0;
		padding: 0.3em;
	border-right: 1em solid black }
	ul.navbar a {
	text-decoration: none }
	a:link {
	color: blue }
	a:visited {
	color: purple }
	address {
		margin-top: 1em;
		padding-top: 1em;
	border-top: thin dotted }
*/


#-content, .-container-fluid,
{
	border: 1px solid #000;
	overflow-y:auto;
	height:100%;
}


#pageContent {

	padding-bottom:0px;   /* Height of the footer. TODO setting this create space after? */
}

#wrapper {
	background-color: black;
	background-color: #d3d3d3;
	padding: 0px;
	height: 100%;
	}

/**
 * Sticky footer with flexbox
 * https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */
.container-flex {
	display: flex;
	flex-direction: column;
	height: 100%; /* 1, 3 */
}

.header-flex,
.footer-flex {
	  flex: none; /* 2 */
	}

.content-flex {
	flex:1 0 auto;
	padding: var(--space) var(--space) 0;
	width: 100%;
}
.content-flex::after {
	content: '\00a0'; /* &nbsp; */
	display: block;
	margin-top: var(--space);
	height: 0px;
	visibility: hidden;
}
@media (--break-lg) {
	.content-flex {
		padding-top: var(--space-lg);
	}
	.content-flex::after {
		margin-top: var(--space-lg);
	}
}

.content-flex--full {
	padding: 0;
}
.content-flex--full::after {
	content: none;
}

/************************
 * SVG scalable graphics
 ***********************/

/* 
 * Scaling to container's size 
 * https://css-tricks.com/scale-svg/#article-header-id-10
 * */

.scaling-svg-container {
	position: relative; 
	/* height: 1px; not work for me: with padding bottom */ 
	height: 0; 
	width: 100%; 
	padding: 0;
	padding-bottom: 100%; 
	/* override this inline for aspect ratio other than square */
}
.scaling-svg {
	position: absolute; 
	height: 100%; 
	width: 100%; 
	left: 0; 
	top: 0;
}

/*
This work for ceo view:
<div class="scaling-svg-container display_inline_block" 
			style="width:19px; 
			 			 height:12px;
						 padding-bottom: 0%">
	<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" 
					class="scaling-svg"
					x="0px" y="0px"
					viewBox="0 0 59 42" 
					xml:space="preserve">

	</svg>
</div>

Other example: 
<div class="scaling-svg-container" 
   style="padding-bottom: 92%  (aka. 100% * 55/60); 
					width:xx px;">
  <svg class="scaling-svg" viewBox="0 0 60 55" >
    SVG content
  </svg>
</div>
*/

/**/
svg.nvd3-svg {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;

}
/************************
 * Modification class
 * *********************/

.margin-0 { margin:0px; }
.margin-top-0 { margin-top:0px; }
.margin-top-5 { margin-top:5px; }
.margin-top-7 { margin-top:7px; }
.margin-top-8 { margin-top: 8px !important; }
.margin-top-10 { margin-top:10px !important; }
.margin-top-15 { margin-top:15px; }
.margin-top-16 { margin-top:16px; }
.margin-top-17 { margin-top:17px; }
.margin-top-30 { margin-top:30px; }

.margin-left-0 { margin-left:0px; }
.margin-bottom-0 { margin-bottom:0px; }

.margin-right-0 { margin-right:0px; }
.margin-right-8 { margin-right:8px; }
.margin-right-30 { margin-right:30px; }

.padding-0 { padding:0px; }
.padding-8 { padding:8px; }
.padding-left-0 { padding-left:0px; }
.padding-left-4 { padding-left:4px; }
.padding-right-0 { padding-right:0px; }
.padding-right-4 { padding-right:4px; }
.padding-right-8 { padding-right:8px; }

.float-left {float: left;}

.width-512 { width:512px; }

.height-278 { height: 278px; }
.height-112 { height: 112px; }

/* vertical align center */
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.display_inline_block {
	/* This enables line-height for inline element that makes containing 
	 * div a bit higher than the child element */
	display: inline-block;
}


