/** 
 * Content wrapper 
 **********************************/
.security-overview-content {
	padding: 0px;
	margin: 0px;
	background-color: #d3d3d3;
}

/***** Panels container ************/
.container-panel {
	margin-top: 30px;
	margin-bottom: 30px;
}

.container-panel>.panel-heading {
	background-color: #00435C;
	color: white;
	height: 28px;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	font-family: calibri;
	padding: 8px 8px 8px 8px;
}

.container-panel>.panel-body {
	
}

/** 
 * Graphs etc
 * **********************************/
#attackgraphcy, .topology {
	/*display:block;
	 */
	height:77vh;
	position: relative;
}

#overviewsunburst, .topology {
	/*display:block;
	  */
	height:77vh;
	position: relative;
}

.dropdown-list {
	display: inline-block;
	border: 2px solid #bbb;
	padding: 4px 4px 0px 4px;
	margin: 0;
	font: inherit;
	outline: none;
	line-height: 1.0;
	background: #00435C;
	-webkit-appearance: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.dropdown-list:focus {
	-webkit-box-shadow: 0 0 3px 1px #c00;
	-moz-box-shadow: 0 0 3px 1px #c00;
	box-shadow: 0 0 3px 1px #c00;
}

.dropdown-list:after {
	content: "▼";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	font-size: 60%;
	line-height: 30px;
	padding: 0 7px;
	background: #bbb;
	color: white;
	pointer-events: none;
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
}

#info {
  position: absolute;
  right: 20px;
  top: 6em;
  margin: 0.5em;
  background: #bbdbf7;
  border-radius: 0.25em;
  border: 2px solid #000000;
  width: 14em;
  display: none;
  text-align: center;
  overflow: scroll;
  max-height: 150px;
  overflow-x: hidden;
  z-index: 99;
}