	<div flex layout="row">
		<!-- Search result -->
		<md-content flex id="content">
			<md-icon md-svg-src="./assets/svg/avatar-1.svg" class="avatar"></md-icon>
			<h2>Lia Luogo</h2>
			<p>
			I love cheese...
			</p>

			<md-button class="share" md-no-ink ng-click="ul.share($event)" aria-label="Share">
			share	
			</md-button>
		</md-content>

		<!-- Map -->
		<md-content flex id="content">
			<md-icon md-svg-src="./assets/svg/avatar-1.svg" class="avatar"></md-icon>
			<h2>Lia Luogo</h2>
			<p>
			I love cheese...
			</p>

			<md-button class="share" md-no-ink ng-click="ul.share($event)" aria-label="Share">
			share	
			</md-button>
	</div> <!-- page content wrapper-->
