<div id="middle-panel" class="row section-ceo-content" >
	<!-- Left Column -->
	<div class="row-buffer"></div>

	<div class="clearfix"></div>
	<div class="col-lg-1 -col-buffer"></div>
	<div class="-col-bufferred">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 ipad-padding">
			<div class="row margin-left-0">



				<wizard on-finish="finished()">

          <wz-step wz-title="Import Contacts">
            <h1>More steps</h1>
            <p>Click on the bottom navigation on Liking it to go back to that step for example. Otherwise, let's continue with the wizard. Please <a href="" wz-next="">click here to continue</a></p>

            <input type="button" wz-previous="logStep()" value="BACK" />
            <input type="button" wz-next="logStep()" value="NEXT" />
          </wz-step>
          <wz-step wz-title="Create Survey">
            <h1>Even More steps</h1>
            <p>I can't deal with so many steps. ARGH</p>
            <input type="button" wz-previous="logStep()" value="BACK" />
            <input type="button" wz-next="logStep()" value="NEXT" />
          </wz-step>
          <wz-step wz-title="Preview Survey">
            <h1>Sup?</h1>
            <p>I don't even know what to write!</p>
            <input type="button" wz-previous="logStep()" value="BACK" />
            <input type="button" wz-next="logStep()" value="NEXT" />
          </wz-step>
          <wz-step wz-title="Finish">
            <h1>Finish him</h1>
            <p>Finally this ends!</p>
            <input type="button" wz-previous="logStep()" value="BACK" />
            <input type="button" wz-next="logStep()" value="END" />
            <input type="button" ng-click="goBack()" value="Click here to start again" />
            <input type="button" wz-reset value="Click here to reset" />
          </wz-step>
        </wizard>




			</div>
		</div>
	</div>
	<div class="col-lg-1 -col-buffer"></div>
	<div class="clearfix"></div>
</div>

